@import "bootstrap" ;

/* universal */

html {
  overflow-y: scroll;
  // text-align: center ;
  margin: 0 auto ;

}

body {
    overflow-y: scroll;
  text-align: center ;
  margin: 0 auto ;

  // padding-top: 60px;
}

p {
  margin-top: -3px ;
  margin-bottom: 5px ;
}
div {
  
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

#input{
  // border-width: 1px 1px 1px 1px ;
  // border-style: solid ;
  // border-color: #DCDCDC ;
  // // padding-left: 50px ;
  // padding-right: 50px ;
  margin-left: -122px ;
  // margin-right: 0px ;
  // margin-top: 20px ;

}

#input2{
  // border-width: 1px 1px 1px 1px ;
  // border-style: solid ;
  // border-color: #DCDCDC ;
  // // padding-left: 50px ;
  // padding-right: 50px ;
  // margin-left: -20px ;
  // margin-right: 0px ;
  // margin-top: 20px ;

}

#tweet{
  // border: 1px #DCDCDC solid ;
  border-width: 1px 1px 1px 1px ;
  border-style: solid ;
  border-color: #DCDCDC ;
  // padding-left: 50px ;
  padding-right: 50px ;
  margin-left: 210px ;
  margin-right: 10px ;
  margin-top: 20px ;
}

#is_login{
  margin-right:-700px ;
  // margin-left: 100px ;
}


/*__ sidenavi _______________________*/
 
#sidenavi{
    height: 700px ;
    border-width: 2px 2px 2px 2px ;
    border-style: solid ;
    float: left;
    width: 200px ;
    // border-color: #DCDCDC ;
    border-color: #CCCCCC ;
    // background-color: #9999CC ;
}
 
#title{
    margin: 10px ;
    background-color: #FFFFFF ;
}
 
.sidemenu ul{
    margin: 0px ;
    padding: 0px ;
    list-style-type: none ;
}
 
.sidemenu ul li{
    text-align: left ;
    border-bottom-width: 1px ;
    border-bottom-style: solid ;
    border-bottom-color: #CCCCCC ;
    height: 40px ;
}
